<%
var page = page ? page : 'index';
include('./_config', {page: page});
%>
<%- include('_head_sp', {page: 'index'}); %>
<%- include(PATH + '/globals/_header_sp'); %>
<!-- ここからコーディングをお願いいたします -->
<div class="contents--area">
<!--========== メインビジュアル =====================================================-->
<%- include(PATH + '/contents/_contents--mainvisual'); %>
<!--========== メインビジュアル =====================================================-->
<!--========== B-1 新着情報（写真） =================================================-->
<%- include(PATH + '/contents/_contents--001'); %>
<!--========== B-1 新着情報（写真） =================================================-->
<!--========== B-2 新着情報（テキスト） ==============================================-->
<%- include(PATH + '/contents/_contents--002'); %>
<!--========== B-2 新着情報（テキスト） ==============================================-->
<!--========== C エリアから探す =====================================================-->
<%- include(PATH + '/contents/_contents--003'); %>
<!--========== C エリアから探す =====================================================-->
<!--========== D ランキングＴＯＰ３ ==================================================-->
<%- include(PATH + '/contents/_contents--004'); %>
<!--========== D ランキングＴＯＰ３ ==================================================-->
<!--========== E PICKUPコンテンツ ===================================================-->
<%- include(PATH + '/contents/_contents--005'); %>
<!--========== E PICKUPコンテンツ ===================================================-->
<!--========== F コンテンツ誘導枠 ====================================================-->
<%- include(PATH + '/contents/_contents--007'); %>
<!--========== F コンテンツ誘導枠 ====================================================-->
<!--========== V 差込有料枠 =========================================================-->
<%- include(PATH + '/contents/_contents--008'); %>
<!--========== V 差込有料枠 =========================================================-->
<!--========== H 人気のエリア =======================================================-->
<%- include(PATH + '/contents/_contents--009'); %>
<!--========== H 人気のエリア =======================================================-->
<!--========== X レストラン誘導枠 ====================================================-->
<%- include(PATH + '/contents/_contents--010'); %>
<!--========== X レストラン誘導枠 ====================================================-->
<!--========== Y 記事誘導枠 =========================================================-->
<%- include(PATH + '/contents/_contents--011'); %>
<!--========== Y 記事誘導枠 =========================================================-->
<!--========== Z-1 関連特集（正方形) =================================================-->
<%- include(PATH + '/contents/_contents--012'); %>
<!--========== Z-1 関連特集（正方形) =================================================-->
<!--========== Z-2 関連特集枠 =======================================================-->
<%- include(PATH + '/contents/_contents--013'); %>
<!--========== Z-2 関連特集枠 =======================================================-->
<!--========== テキストのみ角丸ボタン =================================================-->
<section id="search--festa__area">
<%- include(PATH + '/contents/_contents--014a'); %>
</section>
<!--========== テキストのみ角丸ボタン ==================================================-->
<!--========== 画像とテキスト_1カラムと4カラム ==========================================-->
<%- include(PATH + '/contents/_contents--014'); %>
<!--========== 画像とテキスト_1カラムと4カラム ==========================================-->
<!--========== 画像とテキスト_1カラムと2カラム ==========================================-->
<%- include(PATH + '/contents/_contents--015'); %>
<!--========== 画像とテキスト_1カラムと2カラム ==========================================-->
<!--========== 画像とテキスト_1カラムと2カラム（キャプションで展開） ========================-->
<%- include(PATH + '/contents/_contents--016'); %>
<!--========== 画像とテキスト_1カラムと2カラム（キャプションで展開） ========================-->
<!--========== 画像とテキスト_2カラムと2カラム ==========================================-->
<%- include(PATH + '/contents/_contents--017'); %>
<!--========== 画像とテキスト_2カラムと2カラム ==========================================-->
<!--========== 画像とテキスト_強調 ====================================================-->
<%- include(PATH + '/contents/_contents--018'); %>
<!--========== 画像とテキスト_強調 ====================================================-->
<!--========== イベント情報カセット_PICKUP =============================================-->
<%- include(PATH + '/contents/_contents--019b'); %>
<!--========== イベント情報カセット_PICKUP =============================================-->
<!--========== イベント情報カセット_もっと見る ===========================================-->	
<%- include(PATH + '/contents/_contents--022'); %>
<!--========== イベント情報カセット_もっと見る ===========================================-->	
<!--========== イベント情報カレンダー ===================================================-->
<%- include(PATH + '/contents/_contents--023'); %>
<!--========== イベント情報カレンダー ===================================================-->
<!--========== イベント情報カレンダー ===================================================-->
<%- include(PATH + '/contents/_contents--024'); %>
<!--========== イベント情報カレンダー ===================================================-->
</div>
<%- include(PATH + '/globals/_sidebar_sp'); %>
<%- include(PATH + '/globals/_footer_sp'); %>
