<%
var page = page ? page : 'index';
include('./_config', {page: page});
%>
<%- include('_head_sp-a', {page: 'index'}); %>
<!--以下に本ページで必要なcssの記載をお願いいたします-->
<link rel="stylesheet" href="css/ones_season_sp_pickup2-module3.css">
<%- include('_head_sp-b', {page: 'index'}); %>
<%- include(PATH + '/globals/_header_sp'); %>
<!-- ここからコーディングをお願いいたします -->
<div class="contents--area">
<!--========== メインビジュアル =====================================================-->
<%- include(PATH + '/contents/_contents--mainvisual'); %>
<!--========== メインビジュアル =====================================================-->
<!--========== B-1 新着情報（写真） =================================================-->
<%- include(PATH + '/contents/_contents--001'); %>
<!--========== B-1 新着情報（写真） =================================================-->
<!--========== E PICKUPコンテンツ ===================================================-->
<%- include(PATH + '/contents/_contents--005b'); %>
<!--========== E PICKUPコンテンツ ===================================================-->
<!--========== Z-2 関連特集枠 =======================================================-->
<%- include(PATH + '/contents/_contents--012b'); %>
<!--========== Z-2 関連特集枠 =======================================================-->
<!--========== テキストのみ角丸ボタン =================================================-->
<section id="search--festa__area">
<%- include(PATH + '/contents/_contents--014d'); %>
</section>
<!--========== テキストのみ角丸ボタン ==================================================-->
</div>
<%- include(PATH + '/globals/_sidebar_sp'); %>
<%- include(PATH + '/globals/_footer_sp'); %>
