<%- include('./_head_sp', {page: 'index'}); %>
<!-- PC用のCSS配置 -->
<link rel="stylesheet" href="css/ones_season_sp.css">
<!-- PC用のCSS配置 -->
<!-- カラーセットを調整できるコンテンツCSS -->
<link rel="stylesheet" href="css/ones_season_contents.css">
<!-- カラーセットを調整できるコンテンツCSS -->
<style>
.spAdBanner p a.images,
.spAdBanner p img {
	display: block;
	margin: 10px auto;
	width: 320px;
	max-width: 100%;
	height: auto;
	background: #fff; /*無いとhover時に画像がずれるので必須*/
}
.only_pc {
	display: none !important;
	}
</style>
<%- include(PATH + '/globals/_header_sp'); %>
<!-- ここからコーディングをお願いいたします -->
<div class="contents--area">
<!--========== メインビジュアル =====================================================-->
<%- include(PATH + '/_contents--mainvisual'); %>
<!--========== メインビジュアル =====================================================-->
<!--========== B-1 新着情報（写真） =================================================-->
<%- include(PATH + '/_contents--001'); %>
<!--========== B-1 新着情報（写真） =================================================-->
<!--========== B-2 新着情報（テキスト） ==============================================-->
<%- include(PATH + '/_contents--002'); %>
<!--========== B-2 新着情報（テキスト） ==============================================-->
<!--========== C エリアから探す =====================================================-->
<%- include(PATH + '/_contents--003'); %>
<!--========== C エリアから探す =====================================================-->
<!--========== D ランキングＴＯＰ３ ==================================================-->
<%- include(PATH + '/_contents--004'); %>
<!--========== D ランキングＴＯＰ３ ==================================================-->
<!--========== E PICKUPコンテンツ ===================================================-->
<%- include(PATH + '/_contents--005'); %>
<!--========== E PICKUPコンテンツ ===================================================-->
<!--========== E PICKUPコンテンツ3:2 ================================================-->
<%- include(PATH + '/_contents--006'); %>
<!--========== E PICKUPコンテンツ3:2 ================================================-->
<!--========== F コンテンツ誘導枠 ====================================================-->
<%- include(PATH + '/_contents--007'); %>
<!--========== F コンテンツ誘導枠 ====================================================-->
<!--========== V 差込有料枠 =========================================================-->
<%- include(PATH + '/_contents--008'); %>
<!--========== V 差込有料枠 =========================================================-->
<!--========== H 人気のエリア =======================================================-->
<%- include(PATH + '/_contents--009'); %>
<!--========== H 人気のエリア =======================================================-->
<!--========== X レストラン誘導枠 ====================================================-->
<%- include(PATH + '/_contents--010'); %>
<!--========== X レストラン誘導枠 ====================================================-->
<!--========== Y 記事誘導枠 =========================================================-->
<%- include(PATH + '/_contents--011'); %>
<!--========== Y 記事誘導枠 =========================================================-->
<!--========== Z-1 関連特集（正方形) =================================================-->
<%- include(PATH + '/_contents--012'); %>
<!--========== Z-1 関連特集（正方形) =================================================-->
<!--========== Z-2 関連特集枠 =======================================================-->
<%- include(PATH + '/_contents--013'); %>
<!--========== Z-2 関連特集枠 =======================================================-->
<!--========== テキストのみ角丸ボタン =================================================-->
<section id="search--festa__area">
<%- include(PATH + '/_contents--014a'); %>
<%- include(PATH + '/_contents--014b'); %>
<%- include(PATH + '/_contents--014c'); %>
</section>
<!--========== テキストのみ角丸ボタン ==================================================-->
<!--========== 画像とテキスト_1カラムと4カラム ==========================================-->
<%- include(PATH + '/_contents--014'); %>
<!--========== 画像とテキスト_1カラムと4カラム ==========================================-->
<!--========== 画像とテキスト_1カラムと2カラム ==========================================-->
<%- include(PATH + '/_contents--015'); %>
<!--========== 画像とテキスト_1カラムと2カラム ==========================================-->
<!--========== 画像とテキスト_1カラムと2カラム（キャプションで展開） ========================-->
<%- include(PATH + '/_contents--016'); %>
<!--========== 画像とテキスト_1カラムと2カラム（キャプションで展開） ========================-->
<!--========== 画像とテキスト_2カラムと2カラム ==========================================-->
<%- include(PATH + '/_contents--017'); %>
<!--========== 画像とテキスト_2カラムと2カラム ==========================================-->
<!--========== 画像とテキスト_強調 ====================================================-->
<%- include(PATH + '/_contents--018'); %>
<!--========== 画像とテキスト_強調 ====================================================-->
<!--========== イベント情報カセット_PICKUP =============================================-->
<%- include(PATH + '/_contents--019'); %>
<!--========== イベント情報カセット_PICKUP =============================================-->
<!--========== イベント情報カセット_リスト ==============================================-->	
<%- include(PATH + '/_contents--020'); %>
<!--========== イベント情報カセット_リスト ==============================================-->	
<!--========== イベント情報カセット_特別枠 ==============================================-->
<%- include(PATH + '/_contents--021'); %>
<!--========== イベント情報カセット_特別枠 ==============================================-->
<!--========== イベント情報カセット_もっと見る ===========================================-->	
<%- include(PATH + '/_contents--022'); %>
<!--========== イベント情報カセット_もっと見る ===========================================-->	
<!--========== イベント情報カレンダー ===================================================-->
<%- include(PATH + '/_contents--023'); %>
<!--========== イベント情報カレンダー ===================================================-->
</div><!--contents--area end -->
<!-- PC用のJS配置 -->
<script src="js/ones_season_sp.js"></script>
<!-- PC用のJS配置 -->
<!-- /コーディングここまで -->
<!--sidebarはなくてもいいのでは///-->
<%- include(PATH + '/globals/_sidebar_sp'); %>
<%- include(PATH + '/globals/_footer_sp'); %>
