<%
var page = page ? page : 'index';
include('./_config', {page: page});
%>
<%- include('_head-a', {page: 'index'}); %>
<link rel="stylesheet" href="css/ones_season_pc_pickup2-module3.css">
<%- include('_head-b', {page: 'index'}); %>
<%- include(PATH + '/globals/_header'); %>
<!--========== メインビジュアル =====================================================-->
<%- include(PATH + '/contents/_contents--mainvisual'); %>
<!--========== メインビジュアル =====================================================-->
<!--========== B-1 新着情報（写真） =================================================-->
<%- include(PATH + '/contents/_contents--001'); %>
<!--========== B-1 新着情報（写真） =================================================-->
<!--========== E PICKUPコンテンツ ===================================================-->
<%- include(PATH + '/contents/_contents--005b'); %>
<!--========== E PICKUPコンテンツ ===================================================-->
<!--========== Z-1 関連特集（正方形) =================================================-->
<%- include(PATH + '/contents/_contents--012b'); %>
<!--========== Z-1 関連特集（正方形) =================================================-->
<section id="search--festa__area">
<%- include(PATH + '/contents/_contents--014d'); %>
</section>
</div>
<%- include(PATH + '/globals/_sidebar'); %>
<%- include(PATH + '/globals/_footer'); %>
