<%
var page = page ? page : 'index';
include('./_config', {page: page});
%>
<%- include('_head-a', {page: 'index'}); %>
<link rel="stylesheet" href="css/ones_season_pc_pickup1-module1.css">
<%- include('_head-b', {page: 'index'}); %>
<%- include(PATH + '/globals/_header'); %>
<!--========== メインビジュアル =====================================================-->
<%- include(PATH + '/contents/_contents--mainvisual'); %>
<!--========== メインビジュアル =====================================================-->
<%- include(PATH + '/contents/_contents--001'); %>
<!--========== E PICKUPコンテンツ ===================================================-->
<%- include(PATH + '/contents/_contents--005'); %>
<!--========== E PICKUPコンテンツ ===================================================-->
<!--========== Z-2 関連特集枠 =======================================================-->
<%- include(PATH + '/contents/_contents--012'); %>
<!--========== Z-2 関連特集枠 =======================================================-->
<section id="search--festa__area">
<%- include(PATH + '/contents/_contents--014d'); %>
</section>
</div>
<%- include(PATH + '/globals/_sidebar'); %>
<%- include(PATH + '/globals/_footer'); %>
